@import '../../../styles/variables.scss';

.landing_menu {
  color: $gruvbox_light1;
  font-size: 0.9em;
  line-height: 2em;
  max-width: 45vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;

  > .subtitle {
    max-width: 30vw;
    margin: inherit;
  }
}