@import '../../styles/variables.scss';

.icon_button {
    background: none;
    padding: 0 2em;
    display: flex;
    flex-direction: row;
    margin: 1em;
    align-items: center;
}

.button_icon {
    min-height: 100%;
}

.button_text {
    font-size: 1em;
    line-height: 2em;
    margin-left: 1em;
}

.button_keymap {
    color: $gruvbox_neutral_red;
    margin-left: auto;
}
